/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
header {
    background: #2b2b2b;
    padding: 15px 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #ffcc00;
    font-size: 28px;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover {
    color: #ffcc00;
}

/* Hero Section */
.hero {
    background: url('https://images.unsplash.com/photo-1600891964599-f61ba0e24092?auto=format&fit=crop&w=1200&q=80');
    background-size: cover;
    background-position: center;
    height: 80vh;
    color: white;
    text-align: center;
    padding-top: 200px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #ffcc00;
    color: black;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
}

.btn:hover {
    background: #e0b800;
}

/* Sections */
.section {
    padding: 60px 40px;
    text-align: center;
}

/* Food Menu Cards */
.foods {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.food-card {
    width: 250px;
    background: #fafafa;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.food-card:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

/* Special Section */
.special-section {
    padding: 70px 40px;
    text-align: center;
    background: #ffe680;
}

/* Footer */
footer {
    background: #2b2b2b;
    color: white;
    text-align: center;
    padding: 20px;
}
